<!DOCTYPE html>
<html lang="en">
<head>

      <title>Bootstrap Example</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@next"></script>

    <style>

        .container {
            margin-bottom: 10px;
            padding: 20px;
            border-radius: 4px;
            background: #fff;
            text-align: justify;
            -moz-text-align-last: center;
            text-align-last: center;
        }

    </style>


</head>

<body>
<div id="app">


    <div class="container">
        <div class="row">

            <div class="col">
                <input v-model="selected_date" type="date">
            </div>

            <div class="col">
                <select v-model="selected_country_name">
                    <option disabled value="">Please select one</option>
                    {% for country_name in country_names %}
                        <option>{{country_name}}</option>
                    {% endfor %}
                </select>

            </div>


        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col center-block">
                <button class="btn btn-primary btn-large" @click="getSuntimes">
                    <span>Show</span>
                </button>
            </div>
        </div>
    </div>

    <div class="container" v-if="displayResults">
        <div class="col">
            <hr>
            <div>
                <span>Sunrise is at: [[sunrise]]</span>
            </div>
            <div>
                <span>Sunset is at: [[sunset]]</span>
            </div>
        </div>
    </div>
</div>


<script>
    const { createApp } = Vue;
    const app = createApp({
        delimiters: ["[[", "]]"],
        data: () => {
            return {
                selected_country_name: '',
                    selected_date: '',
                    sunrise: '',
                    sunset: '',
                    displayResults: false,
                };
            },
            methods: {
                getSuntimes(event) {
                    console.log("Clicked!");
                    this.sunrise = "08:51";
                    this.sunset = "07:23";
                    this.displayResults = true;
                }
            }
        });
        app.mount('#app');
    </script>

</body>
</html>
