<!DOCTYPE html>
<html lang="en">
<head>

      <title>Bootstrap Example</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@next"></script>

    <style>

        .container {
            margin-bottom: 10px;
            padding: 20px;
            border-radius: 4px;
            background: #fff;
            text-align: justify;
            -moz-text-align-last: center;
            text-align-last: center;
        }

        img {
            max-width: 120px;
            max-height: 120px;
        }


        #button-image {
            max-width: 45px;
            max-height: 45px;
        }



    </style>


</head>

<body>
<div id="app">


    <div class="container">
        <div class="row">

            <div class="col">
                <input v-model="selected_date" type="date">
            </div>

            <div class="col">
                <select v-model="selected_country_name">
                    <option disabled value="">Please select one</option>
                    {% for country_name in country_names %}
                        <option>{{country_name}}</option>
                    {% endfor %}
                </select>

            </div>


        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col center-block">
                <button v-bind:class="{disabled: isButtonDisabled}" class="btn btn-primary btn-large" @click="getSuntimes">
                    <img id="button-image" src="https://image.flaticon.com/icons/png/512/146/146204.png"><span>Show</span>
                </button>
            </div>
        </div>
    </div>

    <div class="container" v-if="displayResults">
        <div class="col">
            <hr>
            <div class="container">
                <h3>
                <img src="https://image.flaticon.com/icons/png/512/414/414943.png">

                Sunrise is at: [[sunrise]]</h3>
            </div>
            <div class="container">
                <h3>
                <img src="https://image.flaticon.com/icons/png/512/619/619080.png">
                Sunset is at: [[sunset]]</h3>
            </div>
        </div>
    </div>
</div>


<script>
    const { createApp } = Vue;
    const app = createApp({
        delimiters: ["[[", "]]"],
        data: () => {
            return {
                selected_country_name: '',
                    selected_date: '',
                    sunrise: '',
                    sunset: '',
                };
            },
        computed: {
            isButtonDisabled: function() {
                if (this.selected_country_name === '' || this.selected_date === '') {
                    return true;
                }
                return false;
            },
            displayResults: function() {
                if (this.sunrise === '' || this.selected_date === '') {
                    return false;
                }
                return true;
            }
        },
            methods: {
                getSuntimes(event) {
                    if (this.isButtonDisabled) return;
                    fetch('http://localhost:1337/get_sunrise_sunset?' + new URLSearchParams({
                        date: this.selected_date.toString(),
                        country_name: this.selected_country_name
                    }), {method: "GET"}).then((response) => {
                        return response.json(); }).then(data => {
                            console.log(data);
                        this.sunrise = data.sunrise;
                        this.sunset = data.sunset;
                    })
                }
            }
        });
        app.mount('#app');
    </script>

</body>
</html>
